<div class="col-sm-12 bg-lightgrey">
    <div class="row align-center mb-5">
        <div class="col-sm-8 text-danger">
            <h2>{{description}}</h2>
        </div>
        <div class="col-md-7 text-danger">
            <p>--{{name}}, {{date}}</p>
        </div>
    </div>
</div>