<div class="row align-center mb-5">
    <div class="row align-center mb-5">
        <div class="col-md-6 text-danger">
            <h2>{{description}}</h2>
        </div>
        <div class="col-md-6 text-danger">
            <h3>--{{name}}, {{date}}</h3>
        </div>
    </div>
</div>