<a href="/blogs/{{id}}/edit">
    <div class="row align-center mb-5 blogBlock bg-light height1 card">
    <div class="col-md-6" >
        <h2 class="blogtitle">{{title}}</h2>
    </div>
    <div class="col-md-6">
        <h3 class="blogdate">{{date}}</h3>
    </div>
    </div>
</a>







