<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" />
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-flex-start align-left p-2 bg-link">

    {{!-- Only display the  logout button if the user is logged in --}}
    {{#if logged_in}}
    <nav class="m-3">
      <button type="button" class="btn" id="logout">logout</button>
    </nav>
    {{/if}} 

    {{#unless logged_in}}
    <nav class="m-3">
      <button type="button" class="btn" id="login">login</button>
    </nav>
    {{/unless}} 

     
    <nav class="m-3">
      <button type="button" class="btn" id="home">Home</button>
    </nav>
     <nav class="m-3">
      <button type="button" class="btn" id="dashboard-button">Dashboard</button>
    </nav>


    
  </header>
  <div>
    <h1 class="bg-link height1 pl-4 bbottom">
      The Tech Blog
    </h1>
  </div>
  
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <script src="/js/transfers/transferHome.js"></script>
  <script src="/js/transfers/transferToDashboard.js"></script>
  

  {{!-- only include logout script if the user is logged in --}}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{#unless logged_in}}
   <script src="/js/transfers/transferToLogin.js"></script>
  {{/unless}}

  
</body>

</html>