<h2>Create New Blog</h2>

<form class="form newBlog-form">
  <div class="form-group">
    <label for="title-newBlog">Title:</label>
    <input class="form-input" type="text" id="title-newBlog" />
  </div>
  <div class="form-group">
    <label for="description-newBlog">Description:</label>
    <input class="form-input" type="text" id="description-newBlog" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="button" id="create-button">Create!</button>
  </div>
</form>

<script src="/js/newBlog.js"></script>