<h2>Dashboard</h2>



<form class="form updateBlog-form">
  <div class="form-group">
    <label for="title-updateBlog">Title:</label>
    <input class="form-input" type="text" id="title-updateBlog" />
  </div>
  <div class="form-group">
    <label for="description-updateBlog">Description:</label>
    <input class="form-input" type="text" id="description-updateBlog" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="button" id="update-button">Update!</button>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="button" id="delete-button">Delete!</button>
  </div>
</form>
<script src="/js/updateBlog.js"></script>
<script src="/js/deleteBlog.js"></script>


