<h2>Dashboard</h2>

{{#each blogs as |blog| }}
  {{> dashboard-details}}
{{/each}}

<button class="btn btn-primary" type="click" id="create-button">+ New Post</button>

<script src="/js/transfers/transferToCreate.js"></script>



